
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: calibri;
}
body,html{
	width: 100%;
	height: 100%;
}
nav{
	width: 100%;
	height: 80px;
	background: linear-gradient(0deg, rgb(44, 84, 196) 0%, rgb(160, 52, 115) 100%); 
	 display: flex;
    justify-content: space-around;
}
label.logo{
	font-size: 35px;
	color: white;
	margin: 0 100px;
	line-height: 80px;
}
nav ul{
    display: flex;
	justify-content: end;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
}
nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	text-transform: capitalize;
	padding: 8px 20px;
}
nav ul li a.active,a:hover{
	background: #7885c5;
    border-radius: 10px;
}

.logo {
	border: 1px solid black;
	margin: 10px;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20%;
 	background-color: rgb(231, 231, 136);
 }

.logo img {
	width: 55px;
 } 

#checkbtn{
	float: right;
	line-height: 80px;
	margin-right: 10px;
	font-size: 30px;
	color: white;
	display: none;
}
#check{
	display: none;
}
#check:checked ~ ul{
	left: 0;
}

@media(max-width: 400px){
	label.logo{
		font-size:26px;
		margin:0px 50px;
	}
}
@media(max-width: 895px){
	label.logo{
		margin:0px 70px;
	}
	#checkbtn{
		display: block;
	}
  
	nav ul{
		width: 100%;
		height: auto;
		background: #524699;
		position: absolute;
		top:80px;
		left: -100%;
		transition: .5s;
         flex-direction: column;
        justify-content: flex-start;
	}
	nav ul li{
		display: block;
		text-align: center;
		line-height:50px;
		margin:15px;
	}

	
}


